# Example Environment Variables Configuration
# Copy this file to create your target-specific .env files:
#   .env                   - default target
#   .env.target1           - Deployment target 1
#   .env.target2           - Deployment target 2
#   .env.production        - Prod deployment target 1

# ENV

KEY1=VALUE1
